.carousel-inner img {
  margin: auto;
}
.carousel-img {
  width: 90%;
  align: center;
  margin-top: 0px;
  padding-top: 0px;
}
.container-fluid {
  background-color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
